<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Adventurous.Database" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\ProjectsV12;Database=adventurous;Integrated Security=true" />-->
    <add name="Adventurous.Database" providerName="System.Data.SqlClient" connectionString="Server=tcp:adventurousserver.database.windows.net,1433;Database=adventurous;User ID=adventurous_admin@adventurousserver;Password=Q!w2e3r4;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>